* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.app {
    background-color: burlywood;
    padding: 10px 20px;
}
.movie_item {
    border: 2px solid black;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
}

.movie_item span {
    margin-left: 10px;
}

.footer button {
    background-color: greenyellow;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: bold;
}